.app.light {
  --bg-color: #ffffff;
  --bg-color-navbar: #1f2328;

  --primary-color: #213547;
  --inverted-primary-color: rgba(255, 255, 255, 0.87);
  --secondary-color: #ffffff;
}

// --bg-color: #e8e8ea;
