.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color-navbar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 20px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
