.AppLink {
  color: var(--inverted-primary-color);
  text-decoration: none;
  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  &.active {
    color: #7e85fe;
  }
}

.primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: aqua;
}
